@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Poppinspoppins-v22-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppinspoppins-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppinspoppins-v22-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Poppinspoppins-v22-latin-900.woff2") format("woff2");
}

:root {
  --color-primary-ligtht: #faf4ea;
  --color-primary-normal: #819b57;
  --color-primary-dark: #31261a;
  --color-secondary-ligtht: #cfcfbc;
  --color-secondary-normal: #a18268;
  --color-secondary-dark: #465929;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-ligtht);
  font-size: 18px;
  line-height: 1.5;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: inherit;
  transition: color 0.3s;
}

svg {
  transition: fill 0.3s;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
header,
footer {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

h1 {
  font-weight: 900;
  font-size: 128px;
}

h2 {
  font-weight: 900;
  font-size: 64px;
}

h3 {
  font-weight: 900;
  font-size: 32px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-weight: 400;
  font-size: 20px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
}

.caps {
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  max-width: 1236px;
  margin: 48px auto;
  padding: 0px 16px;
}

/* header */

header {
  color: var(--color-primary-ligtht);
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
  background-position: center;
  padding-top: 34px;
}

header > .wrapper {
  margin-top: 0px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header-menu > ul {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: space-between;
  text-align: center;
}

ul a:hover {
  color: var(--color-primary-normal);
}

button.button {
  padding: 16px 32px;
  background-color: var(--color-primary-normal);
  color: var(--color-primary-ligtht);
  border-radius: 8px;
  border: 1px solid var(--color-primary-normal);
  font-weight: 600;
  font-size: 18px;
  font-family: inherit;
  width: 240px;
}

button.button:hover {
  background-color: var(--color-primary-ligtht);
  color: var(--color-secondary-dark);
  border: 1px solid var(--color-primary-normal);
  cursor: pointer;
}

.header-text {
  text-align: center;
  padding-top: 180px;
}

.accent {
  color: var(--color-primary-normal);
}

.centered {
  text-align: center;
}

/* Advantages */

.hidden {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section-advantages {
  background-color: var(--color-primary-normal);
}

.section-advantages > .wrapper {
  margin-top: 0px;
}

.advantages-article > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 62px;
  color: var(--color-primary-ligtht);
}

/* Traditions */

.section-tradition > .wrapper {
  display: flex;
  flex-direction: row;
  gap: 220px;
  justify-content: space-between;
}

.section-tradition p {
  padding: 21px 0px;
}

.baker-photo > img {
  border-radius: 50% 50% 0px 0px;
}

/* chefs */

.chefs-header {
  margin: 0 auto 80px;
  position: relative;
}

.chefs-header::after,
.chefs-header::before {
  width: 352px;
  height: 2px;
  background-color: var(--color-secondary-ligtht);
  content: "";
  position: absolute;
  bottom: 24px;
}

.chefs-header::after {
  right: 8px;
}

.chefs-header::before {
  left: 8px;
}

.chefs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chef-photo {
  border-radius: 4px 4px 4px 50%;
  box-shadow: var(--color-primary-ligtht) -16px 16px 0px,
    var(--color-secondary-normal) -16px 16px 0px 1px;
}

.chef-article {
  flex-basis: 600px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.chef-article-item > p {
  padding: 21px 0px;
}

/* Formats */

.slider-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.arrow-right,
.arrow-left {
  fill: var(--color-primary-dark);
  border: var(--color-primary-dark) 1px solid;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}

.arrow-left {
  rotate: 180deg;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-ligtht);
}

.slider-item {
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border-radius: 16px;
  height: 244px;
  width: calc((100% - 40px) / 3);
  padding: 248px 24px 0;
  position: relative;
}

.slider-img {
  position: absolute;
  z-index: -1;
  top: 45px;
  left: 3px;
  transform: scale(1.015);
}
.slider-text {
  color: var(--color-primary-ligtht);
}
.slider-text > h4 {
  padding-bottom: 16px;
}

/* Contacts */

.section-contacts > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.contact-form-header {
  margin-bottom: 42px;
}

.contact-form-header > h2 {
  margin-bottom: 16px;
}

/* footer */

footer {
  background-image: url(../images/footer-backgound.png);
  background-repeat: no-repeat;
  background-color: var(--color-primary-dark);
  background-size: cover;
  color: var(--color-primary-ligtht);
  position: relative;
}

footer > .wrapper {
  margin-bottom: 0px;
}

footer::before,
footer::after {
  content: "";
  background-repeat: no-repeat;

  position: absolute;
  bottom: 0;
}

footer::before {
  background-image: url(../images/hlib-single.png);
  right: 48px;
  left: 0;
  width: 180px;
  height: 120px;
}

footer::after {
  background-image: url(../images/hlib-dual.png);
  right: 0;
  width: 380px;
  height: 187px;
}

footer > .wrapper {
  padding: 32px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
}

.footer-element {
  max-width: 211px;
}

.social-icon {
  fill: var(--color-primary-ligtht);
  margin-right: 22px;
}

.social-icon:hover {
  fill: var(--color-primary-normal);
}

.footer-contact,
.footer-copyright {
  font-size: 16px;
}

footer li,
footer p {
  padding-bottom: 16px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(49, 38, 26, 0.71);
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is_hiden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  max-height: 880px;
  max-width: 880px;
  width: 100%;
  padding: 128px 128px 20px;
  background-color: var(--color-secondary-ligtht);
  border-radius: 32px;
  position: relative;
  overflow: auto;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 24px;
}

/* Form */

.form-header {
  margin-bottom: 72px;
  text-align: center;
}

.form-header > h2 {
  margin-bottom: 8px;
}
.form-items {
  margin: 0 auto;
  max-width: 605px;
  width: 100%;
}

.form-input {
  max-width: 520px;
  width: 100%;
  padding: 16px 42px;
  border-radius: 5px;
  margin-bottom: 32px;
  font-size: 16px;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-items > .button {
  margin: 0 auto;
  display: block;
  margin-bottom: 24px;
}

.form-items > p {
  text-align: center;
}

.form-items > p > a {
  text-decoration-line: underline;
}

.form-items > p > a:hover {
  color: var(--color-secondary-normal);
}
